@import "config" // Always at the beginning
@import "header"

.trade-in
    margin: 48px 0
    &__top
        display: flex
        align-items: center
        justify-content: space-between
    &__head
        font-family: $graphiclcg-medium
        font-size: 24px
        line-height: 32px
    &__device
        font-family: $graphiclcg-medium
        font-size: 18px
        line-height: 32px
        color: rgba(#3A4C56, 0.66)
    &__wrapper
        display: flex
        margin-top: 36px
        min-height: 616px
        background: #FFF
        box-shadow: 0 2px 16px rgba(#006AA7, 0.08)
    &__sidebar
        padding: 40px 28px 40px 40px
        width: 27%
        border-right: 1px solid #E4E4E4
    &__content
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 47px 62px 37px 48px
        width: 73%
    &__inner
        max-height: 463px
        overflow-y: scroll
    &__title
        font-family: $graphiclcg-medium
        font-size: 22px
        font-weight: 500
        line-height: 100%
    &__subtitle
        margin-top: 19px
        font-family: $graphiclcg-medium
        font-size: 18px
        font-weight: 500
        line-height: 1.31
        color: rgba(#000, 0.66)
    &__description
        margin-top: 12px
        font-size: 16px
        &--margin
            margin-top: 20px
    &__heading
        margin-top: 16px
        font-family: $graphiclcg-semibold
        font-size: 36px
        line-height: 1
        color: #0089D7
        & + .trade-in__title
            margin-top: 40px
    &__details
        display: flex
        justify-content: space-between
        min-height: 456px
        &--margin
            margin-top: 46px
    &__left
        width: 50%
    &__right
        width: 50%
        &--border
            padding-left: 64px
            border-left: 1px solid #E4E4E4
    &__img
        max-width: 334px
        max-height: 334px
        width: 100%
        height: 100%
        text-align: center
    &__block
        margin-top: 32px
    &__group
        display: flex
        align-items: center
        &--data
            margin-top: 22px
        input + input
            margin-left: 34px
        & > .trade-in__subtitle
            margin-top: 0
    &__group + &__group
        margin-top: 16px
    &__success
        text-align: center
    &__success-mark
        margin: 100px auto 56px
        width: 104px
        height: 104px
        background-repeat: no-repeat
        background-size: cover
        background-position: center
    &__buttons
        display: flex
        align-items: center
        justify-content: space-between
        background: #FFF
    &__btn
        color: #0089D7
        &--edit
            margin-left: 32px
        &:hover
            color: #0089D7
            border: 1px solid #0089D7
    &__continue
        color: #E4E4E4
        &:hover
            color: #E4E4E4
        &--active
            color: #ffffff
            background: #0089D7
            box-shadow: 0 0 24px rgba(#0089D7, 0.24)
            &:hover
                color: #ffffff

.stage
    counter-reset: counter
    &__item
        position: relative
        display: flex
        align-items: center
        font-size: 18px
        line-height: 100%
        color: rgba(#000, 0.4)
        &::before
            counter-increment: counter
            content: counter(counter)
            display: flex
            align-items: center
            justify-content: center
            min-width: 36px
            min-height: 36px
            max-width: 36px
            max-height: 36px
            margin-right: 20px
            background-repeat: no-repeat
            background-size: 14px
            background-position: center
            border: 1px solid #D1D1D1
            border-radius: 50%
        &:not(:last-child)
            &::after
                content: ''
                position: absolute
                top: 36px
                left: 18px
                display: inline-block
                width: 2px
                height: 33px
                background: #E4E4E4
        &--active
            color: #0070AF
            &::before
                border: 2px solid #0089D7
                box-shadow: 0 0 16px rgba(#0089D7, 0.16)
        &--success
            &::before
                content: ''
                background-color: #0089D7
                background-image: url(../img/dist/sprite.svg#mark-icon)
                border: 1px solid #0089D7
            &:not(:last-child)
                &::after
                    background: #0089D7
    &__item + &__item
        margin-top: 32px

.tabs
    margin-top: 34px
    &__list
        display: flex
        align-items: center
        justify-content: center
    &__item + &__item
        margin-left: 99px
    &__content
        display: none
        &--margin
            margin-top: 86px
        &--active
            display: block
    &__paragraph
        margin: 32px 0 10px
        font-size: 14px
        color: rgba(#000, 0.66)

.counter-input
    position: relative
    margin-top: 29px
    width: 100%
    &--hidden
        display: none
    &__input
        -moz-appearance: textfield
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button
            appearance: none
    &__group
        display: block
        position: absolute
        top: 50%
        right: 16px
        transform: translateY(-50%)
        font-size: 16px
        color: rgba(#000, 0.33)


.sim-checkbox
    cursor: pointer
    &__input
        display: none
        &:checked + .sim-checkbox__group
            border: 3px solid #3A4C56
    &__group
        display: block
        padding: 14.5px 51.5px
        margin: 0
        text-align: center
        border: 3px solid #E4E4E4
        border-radius: 5px
        transition: border 0.5s
        &:hover
            border: 3px solid rgba(#3A4C56, 0.5)
    &__icon
        display: block
        width: 75px
        height: 75px
        background-repeat: no-repeat
        background-size: cover
        background-position: center
    &__title
        display: block
        margin-top: 10px
        font-family: $graphiclcg-medium
        font-size: 16px
        font-weight: 500
        line-height: 100%

.custom-checkbox
    display: block
    margin: 0
    cursor: pointer
    & + .custom-checkbox
        margin-top: 14px
    &__input
        display: none
        &:checked ~ .custom-checkbox
            &__icon
                border: 2px solid #0089D7
                &::before
                    visibility: visible
                    opacity: 1
            &__title
                color: #0070AF
    &__icon
        position: relative
        display: inline-block
        margin-right: 20px
        width: 24px
        height: 24px
        vertical-align: middle
        border: 1px solid #D3D3D3
        border-radius: 50%
        &::before
            content: ''
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            display: inline-block
            width: 10px
            height: 10px
            visibility: hidden
            opacity: 0
            background: #0089D7
            border-radius: 50%
            box-shadow: 0 0 16px rgba(#0089D7, 0.16)
    &__title
        color: rgba(#000, 0.66)

.data-table
    margin-top: 14px
    &__item
        display: flex
        align-items: center
        padding: 11.5px 0
        border-bottom: 1px solid #E4E4E4
    &__title,
    &__value
        overflow: hidden
        width: 100%
        font-size: 16px
    &__title
        max-width: 193px
        color: rgba(#000000, 0.4)
    &__value
        margin-left: 40px
        color: rgba(#000000, 0.66)

// MEDIA QUARIES
@media (max-width: 991px)
    .trade-in
        &__wrapper
            flex-direction: column
        &__sidebar
            width: 100%
            border-right: none
        &__content
            width: 100%
        &__buttons
            margin-top: 50px
    .stage
        display: flex
        align-items: center
        overflow-x: scroll
        &::-webkit-scrollbar
            display: none
        &__item
            &:not(:last-child)
                &::after
                    display: none
        &__item + &__item
            margin-top: 0
            margin-left: 32px

@media (min-width: 768px) and (max-width: 991px)
    .trade-in
        &__right
            &--margin
                margin-left: 30px

@media (max-width: 767px)
    .trade-in
        &__top
            flex-direction: column
            justify-content: center
        &__head,
        &__device
            text-align: center
        &__details
            flex-direction: column
        &__left,
        &__right
            width: 100%
        &__right
            margin-top: 50px
            &--border
                padding-left: 0
                border-left: none
        &__group
            flex-direction: column
            input + input
                margin-left: 0
                margin-top: 16px

@media (max-width: 575px)
    .trade-in
        &__content
            padding: 47px 16px 37px
    .tabs
        &__list
            flex-direction: column
        &__item + &__item
            margin-top: 50px
            margin-left: 0